/* General Styles */
body {
  font-family: 'Libre Baskerville', serif;
  display: flex;
  margin: 0;
  background-color: #fdebd0; /* Background color */
}

/* Sidebar Styles */
.sidebar {
  width: 250px;
  background-color: #fcfbe6; /* Sidebar background color */
  padding: 20px;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Avatar Container */
.avatar-container {
  width: 120px; /* Restricts container width */
  height: 120px;
  overflow: hidden; /* Ensures the image doesn't overflow */
}

/* Avatar Image Styles */
.avatar {
  width: 100%; /* Scales the image to fit the container */
  height: 100%; /* Maintains height within the container */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image fills the circular frame */
  display: block;
}

/* Name Styles */
.name {
  color: #90bfc5; /* Name color */
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  margin-top: 10px;
}

/* Sidebar Navigation Links */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.sidebar-link {
  text-decoration: none;
  color: #fdebd0; /* Sidebar link color */
  font-weight: 400;
  margin: 10px 0;
}

.sidebar-link.active {
  font-weight: bold;
  color: #097969;
}

/* Content Area */
.content {
  margin-left: 400px;
  padding: 20px;
  max-width: 800px;
}

/* Section Titles */
h2 {
  color: #097969;
  font-size: 3em; /* 3x body text size */
  font-weight: 400;
}

/* Subsection Titles */
h3 {
  color: #d6d0c6;
  font-size: 2em; /* 2x body text size */
  font-weight: 400;
}

/* Body Text */
p {
  font-size: 1em; /* Base font size */
  color: #000000;
  font-weight: 200;
}
